/* stefan-stefancik-257625.jpg - Photo by Štefan Štefančík on Unsplash - https://unsplash.com/photos/UCZF1sXcejo */
/* william-iven-22449.jpg - Photo by William Iven on Unsplash - https://unsplash.com/photos/jrh5lAq-mIs */
/* carlos-muza-84523.jpg - Photo by Carlos Muza on Unsplash - https://unsplash.com/photos/hpjSkU2UYSU*/
/* IBR */
@import "bootstrap-overrides";
@import "categories";
$bg-default: #E5E5E5;
$information-laptop: "screen and (max-width : 1081px)";
$information-fullhd: "only screen and (min-width : 1081px)";

html {
  overflow-x: hidden;
  background-color: $bg-default;
}

body {
  background-color: $bg-default;
}

section {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg-default;
  height: 100vh;
}

.long-section {
  min-height: 100vh;
  height: unset;
}

.absolute-bottom-90 {
  position: absolute !important;
  top: 90vh !important;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 0rem !important;
  padding: 1rem 0;
}

.container > .title, .container > .subtitle {
  font-size: 200% !important;
  font-weight: lighter !important;
  line-height: 4.5rem !important;
}

.question-container {
  margin-top: 0rem !important;
  padding: 1rem 0;
}

.question-container > .title, .question-container > .subtitle {
  font-size: 300% !important;
  font-weight: lighter !important;
  line-height: 3.5rem !important;
}

.homepage {
  padding-top: 10rem;
  font-size: 200%;
}

.question-index {
  color: $primary;
  font-size: 3em !important;
  font-weight: lighter;
  text-align: left;
  margin: 0;
  padding: 0;
}

.question-index > span {
  display: none;
  font-weight: bolder;
}

.analysis-answer {
  margin-top: 7.5rem;

  text-align: left;
  line-height: 1.2em;
  padding: 0;
  padding-left: 3rem;
  @media #{$information-laptop} {
    margin-top: 3.5rem;
  }
}
.analysis-answer > .analysis-number {
  color: #df3848;
  font-size: 3.7em;
  font-weight: 600;
}
.analysis-answer > .analysis-percent {
  color: #df3848;
  font-size: 2.5em;
  font-weight: lighter;
}
.analysis-answer > .analysis-text {
  font-weight: 400;
}
.analysis-text:after {
  width: 184%;
  left: -12rem;
  top: 21%;

  content: '';
  position: absolute;
  height: 1px;
  background: black;
  transform: translateY(-50%);
  z-index: 1;
  @media #{$information-laptop} {
    width: 170%;
    left: -8rem;
    top: 27%;
  }
}
.analysis-text > .number-highlight {
  color: #df3848;
  font-weight: 500;
}
.analysis-answer .analysis-text2 {
  padding-top: 15.7rem;
  @media #{$information-laptop} {
    padding-top: 10.7rem;
  }
}
.analysis-text2:after {
  width: 300%;
  left: -28rem;
  top: 100%;

  content: '';
  position: absolute;
  height: 1px;
  background: black;
  transform: translateY(-50%);
  z-index: 1;
  @media #{$information-laptop} {
    width: 290%;
    left: -20rem;
    top: 97%;
  }
}

.checkbox {
  padding-top: 3.5rem;
}

.checkbox > img {
  padding: 0;
  height: 9%;
  max-width: 9%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.worldtv {
  padding-top: 6rem;
  max-width: 60% !important;
  max-height: 60% !important;
}

.business-man {
  max-width: 40% !important;
  max-height: 40% !important;
}

.ibr-rounded {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: $secondary;
}

.icon-rounded {
  background: $secondary;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  border-radius:50%;
  display:inline-block;
  padding:25%;
}

i.icon-rounded > img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

hr {
  border:none;
  border-left:5px dotted $secondary;
  color:#fff;
  background-color: transparent;
  height:60%;
  width:1px;
}

blockquote {
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  border-left: 8px solid $primary;
  margin: 0 6px;
  padding-top: 0px;
  padding-right: 14px;
  padding-bottom: 0px;
  padding-left: 4px;
  width: 80%;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
