@import "variables";

* {
  max-width: 100vw;
}

html {
  overflow-x: hidden !important;
  background-color: $bg-default;
}

body {
  background-color: $bg-default;
}

section {
  margin-left: 0px !important;
}

section:not(.category) {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg-default2;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  overflow-x: hidden !important;
}

.category {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  max-width: 100vmax;
}

section:not(.homepage):nth-child(odd) {
  background-color: $bg-default !important;
}

.long-section {
  min-height: 100vh;
  height: unset;
}

.absolute-bottom-90 {
  position: absolute !important;
  top: 90vh !important;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 0rem !important;
  padding: 1rem 0;
}

.homepage {
  $text-size: 7vmin;
  padding-top: 10rem;
  font-size: $text-size;

  height: 100vh;
  @media #{$information-laptop} {
    padding-top: 5rem;
    font-size: $text-size !important;
  }

  .title, .subtitle {
    font-size: $text-size !important;
    font-weight: 100 !important;
    line-height: $text-size !important;
    margin-bottom: 2*$text-size;
  }

  img {
    //max-height: 50vh !important;
    @media #{$information-laptop} {
      max-height: 18rem !important;
    }
  }

  .btn {
    $text-size: $text-size/4;
    font-size: $text-size !important;
    //margin-top: 10 * $text-size;
  }
}

.checkbox {
  padding-top: 3.5rem;
}

.checkbox > img {
  padding: 0;
  height: 9%;
  max-width: 9%;
}

img {
  width: 100%;
  max-width: 50vw;
  max-height: 100%;
}

.no-margins {
  margin: 0;
  padding: 0;
}

hr {
  border:none;
  border-left:1vmin dotted $secondary;
  color:#fff;
  background-color: transparent;
  height:60%;
  width:1px;
}

connection {
  border-style: dotted !important;
  border-color: $secondary !important;
  color:#fff !important;
  background-color: transparent !important;
  width:1px !important;
}

blockquote {
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  border-left: 8px solid $primary;
  margin: 0 6px;
  padding-top: 0px;
  padding-right: 14px;
  padding-bottom: 0px;
  padding-left: 4px;
  width: 80%;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.vw10 {
  width: 10vw;
}
