@import "../variables";

#q01 {

  .analysis-answer {
    width: 13vw;
  }

  img {
    height: 25vw;
    width: 25vw;
    //max-height: 50vh !important;
    @media #{$information-laptop} {
      max-height: 18rem !important;
    }
  }

  .checkbox {
    img {
      height: 7vw;
      width: 4vw;
      margin-left: 0.1vw;
    }
  }

  #mapphone {
    height: 14vw;
    width: 15vw;
  }

  .worldtv {
    @media screen and (orientation:landscape) {
      padding-top: 6rem;
      margin-top: 6rem;
    }
    max-width: 10vw;
    max-height: 15vw;
  }
}

.analysis-answer .analysis-text2 {
  padding-top: 15.7rem !important;
  @media #{$information-laptop} {
    padding-top: 9rem !important;
  }
}
.analysis-text2:after {
  width: 300%;
  left: -28rem;
  top: 100%;

  content: '';
  position: absolute;
  height: 1px;
  background: black;
  transform: translateY(-50%);
  z-index: 1;
  @media #{$information-laptop} {
    width: 300%;
    left: -20rem;
    top: 96%;
  }
}
