@import "../variables";

#q05chart {
}

#q05 .col-1 {
  padding-left: 0;
  padding-right: 0;
  margin-right: 5%;
}
#q05 .col-1:nth-child(even) img {
  padding-top: 200%;
}

#q05 p:not(.title) {
  font-size: 1.2em;
}

#q05 .question-content {
  margin-top: 7.7vh;
  padding-top: 7.3vh;
  padding-left: 5%;
  height: 75vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/img/q05/chart.png");
}
