@import "../variables";

#q01 {

  .analysis-answer {
    width: 13vw;
  }

  img {
    height: 25vw;
    width: 25vw;
    //max-height: 50vh !important;
    @media #{$information-laptop} {
      max-height: 18rem !important;
    }
  }

  .checkbox {
    img {
      height: 6vw;
      width: 3vw;
      margin-left: 0.1vw;
    }
  }

  #mapphone {
    height: 14vw;
    width: 15vw;
  }

  .worldtv {
    @media screen and (orientation:landscape) {
      padding-top: 6rem;
      margin-top: 6rem;
    }
    max-width: 10vw;
    max-height: 15vw;
  }

  .d-flex:nth-child(2) .analysis-answer {
    margin-top: 6vh;
  }

  .analysis-text2 {
    //padding-top: 15.7rem !important;
    //@media #{$information-laptop} {
    //  padding-top: 9rem !important;
    //}
  }

  .analysis-text2:after {
    width: 39vw;
    left: -1vw;
    top: 66.5vh;

    content: '';
    position: absolute;
    height: 1px;
    background: black;
    transform: translateY(-50%);
    z-index: 1;

    @media #{$information-laptop} {
      display: none;
    }
  }
}
