@import "../variables";

#q03 {
  $q03-rounded-margin-top: 5%;

  .ibr-rounded-secondary {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    background-color: $primary;
    color: $white;

    min-height: 32vmin;
    min-width: 32vmin;
    height: 32vmin;
    width: 32vmin;
    font-size: 3vmin;
    text-align: left;
    margin-top: $q03-rounded-margin-top;
  }

  .ibr-rounded-secondary .ibr-index {
    font-size: 2em;
    text-align: center;
  }

  .ibr-rounded-secondary span {
    font-weight: bolder;
  }

  .ibr-rounded-secondary:nth-child(1) {
    margin-top: $q03-rounded-margin-top + 10%;
    margin-right: -2%;
  }

  .ibr-rounded-secondary:nth-child(4) {
    margin-top: $q03-rounded-margin-top + 10%;
    margin-left: -2%;
  }

  #q03men {
    margin-top: 11.5rem;
  }

}
