@import "../variables";
@import "question01";
@import "question02";
@import "question03";
@import "question13";

.question-container {
  margin-top: 0rem !important;
  padding: 1rem 0;
}

.question-container > .title, .question-container > .subtitle {
  font-size: 300% !important;
  font-weight: lighter !important;
  line-height: 3.5rem !important;
}

.question-index {
  color: $primary;
  font-size: 3em !important;
  font-weight: lighter;
  text-align: left;
  margin: 0;
  padding: 0;
}

.question-index > span {
  display: none;
  font-weight: bolder;
}

.analysis-answer {
  margin-top: 7.5rem;

  text-align: left;
  line-height: 1.2em;
  padding: 0;
  padding-left: 3rem;
  @media #{$information-laptop} {
    margin-top: 4rem;
    padding-left: 1.5rem;
  }
}
.analysis-number {
  color: $secondary;
  font-size: 3.7em;
  font-weight: 600;
}
.analysis-number2 {
  color: $primary;
  font-size: 3.7em;
  font-weight: 600;
}
.analysis-number3 {
  color: $tertiary;
  font-size: 3.7em;
  font-weight: 600;
}
.analysis-percent {
  padding-top: 1rem;
  font-size: 2.5em;
  font-weight: lighter;
}

.analysis-number + .analysis-percent {
  color: $secondary;
}
.analysis-number2 + .analysis-percent {
  color: $primary;
}
.analysis-number3 + .analysis-percent {
  color: $tertiary;
}

.barchart-value {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.analysis-answer > .analysis-text {
  font-weight: 400;
}
.analysis-text1:after {
  width: 184%;
  left: -12rem;
  top: 21%;

  content: '';
  position: absolute;
  height: 1px;
  background: black;
  transform: translateY(-50%);
  z-index: 1;
  @media #{$information-laptop} {
    width: 180%;
    left: -8rem;
    top: 27%;
  }
}
.analysis-text > .number-highlight {
  color: $primary;
  font-weight: 500;
}

.ibr-underline:after {
  width: 8rem;
  top: 5rem;
  left: 3.7rem;
  content: '';
  position: absolute;
  height: 1px;
  background: $secondary;
  transform: translateY(-50%);
  z-index: 1;
}

.ibr-rounded {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: $secondary;
}
