// Variables
$design-green: #7DCDA5;
$design-red: #DE3849;
$design-gray: #73818A;
$design-blue: #5aa3ee;
$design-gray-dark: #3b4449;
$design-gray-light: #e5e5e5;

$design-gray-scale-1: #e6e6e6;
$design-gray-scale-2: #cccccc;
$design-gray-scale-3: #b3b3b3;
$design-gray-scale-4: #999999;
$design-gray-scale-5: #808080;

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: $design-green !default;
$secondary: $design-red !default;
$tertiary: $design-gray !default;
$quaternary: $design-gray !default;

// IBR Official Website's variables
$ibr-nav: #a3a3a3;
$ibr-nav-text-color: #E5E2E2;

// Project Variables
$bg-default: $design-gray-scale-2;
$bg-default2: $design-gray-scale-1;
$text-color: $design-gray-dark;
$nav-color: $ibr-nav;
$nav-text-color: $ibr-nav-text-color;
